.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
}

.App-logo {
  height: 8vmin;
}

.App-header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(9px + 1vmin);
  gap: 20px;
  text-align: center;
}

.App-main {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(4, 180px);
  grid-template-columns: repeat(3, 140px);
  font-size: calc(7px + 1vmin);
  gap: 10px;
}

.App-card {
  border: 1px solid #61dafb;
  border-radius: 10px;
  padding: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.App-card__text {
  max-height: 100px;
}

.App-card__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}


@media screen and (max-width: 500px) {
  .App-main {
    grid-template-rows: repeat(5, 170px);
    grid-template-columns: repeat(2, 140px);
  }
}